
.vs/WarthunderCockpitAlerts/v16/.suo
.vs/WarthunderCockpitAlerts/v16/Server/sqlite3/db.lock
.vs/WarthunderCockpitAlerts/v16/Server/sqlite3/storage.ide
.vs/WarthunderCockpitAlerts/v16/Server/sqlite3/storage.ide-shm
.vs/WarthunderCockpitAlerts/v16/Server/sqlite3/storage.ide-wal
